<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" id="homepage">
        Homepage
      </a>
      <a class="navbar-item" id="myClasses">
        My Classes
      </a>
      <a class="navbar-item" id="profile">
        Profile
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button class="button is-primary" id="logout">
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<h2> LIST OF CLASSES</h2>
<div id="subjects-list">
 
    {{! Class Information}}
  <div id="student-class-list">
    {{#each courses as |course|}}
    <p>Course Name: {{course.course_name}}</p>
    <div>Course ID: {{course.id}}</div>
    <p>Description: {{course.course_description}}</p>


      {{! Student Information}}
      <table>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Grade Level</th>
        </tr>
        {{#each course.students as |student|}}
        <tr>
        <td>Student ID: {{student.id}}</td>
        <td>Student Name: {{student.name}}</td>
        <td>Grade: {{student.grade_level}}</td>
        </tr>
        {{/each}}      
      </table>
    {{/each}}
  </div>
</div>


<hr>
<button id="create-course-form"> ADD NEW CLASS </button>

<script src="/js/subjects.js"></script>